.idea/
cmd/togomak/togomak
cmd/togomak/*.hcl
.togomak/pipelines/
examples/*/.togomak/
cmd/togomak/.togomak/
docs/book/
.terraform
*.tfstate 
*.tfstate.backup
*.tfplan
*.out 
.terraform.lock.hcl
coverage*.out
